.content {
    position: relative;
    right: 1em;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    top: -600px;
}

#contact-content {
    grid-row-gap: 700px;
}


#contact-section {
    grid-column: 5 / 10;
}

.darkText {
    min-height: 40vh;
}