.content {
    position: relative;
    right: 1em;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    top: -600px;
}

#home-content {
    grid-row-gap: 700px;
}

.scene {
    position: absolute;
    z-index: -1;
}

#home-section {
    grid-column: 7 / 12;
}

.darkText {
    min-height: 40vh;
}